
@{
    ViewData["Title"] = "Dashboard";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <title>Dashboard</title>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="row bg-white p-md-3 rounded">

                        <a href="#" style="font:menu; color:skyblue;"><b>ALL PROJECTS</b></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <b style="color:white;background-color:skyblue;width:18px;text-align:center"> 30 </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                        <a href="#" style="font:menu; color:skyblue; "><b>ON PROGRESS</b></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <b style="color:black;background-color:gray;width:18px;text-align:center"> 30</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


                        <a href="#" style="font:menu; color:skyblue; "><b>COMPLETED</b></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <b style="color:black;background-color:gray;width:18px;text-align:center"> 30</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                        <a href="#" style="font:menu; color:skyblue; "><b>ARCHIVED</b></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <b style="color:black;background-color:gray;width:18px;text-align:center"> 30</b>

                    </div>
                    <br />
                    <div class="row rounded">
                        <div class="col-md-9 bg-white rounded p-3">
                            <div class=" row p-3 rounded">
                                <div class="col-md-9">
                                    <h3 style="text-align:start"><b>All Projects</b></h3>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" style="width: 10%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="col-md-3" style="text-align: right;">

                                    <span class="pull-right border fa-border pr-4 pl-4 pt-2 pb-2 rounded"><a href="#"><i class="fa fa-plus" aria-hidden="true"></i> New Project</a></span>
                                </div>
                            </div>
                            <div class=" row p-3">
                                <div class="col-md-5 ">
                                    <div class="border rounded p-1">
                                        <form>
                                            <i class="fas fa-search"></i>
                                            <input type="search" placeholder="Search" name="search" style="border: none;width: 95%">

                                        </form>
                                    </div>
                                </div>
                                <div class="col-md-5 p-1" style="text-align: justify">
                                    <i class="fas fa-sort-amount-down text-primary fa-2x "></i>
                                </div>

                                <div class="col-md-1" style="text-align-last: right">
                                    <i class="fas fa-th text-primary fa-2x"></i>
                                </div>
                                <div class="col-md-1 " style="text-align-last:right">
                                    <i class="fas fa-list fa-2x text-black"></i>
                                </div>
                            </div>
                            <div class=" row p-3">
                                <div class=" col-md-4">
                                    <div class="border border-secondary rounded p-3 " style="height:100%;">
                                        <a href="#" style="color:black;font-size:18px"><b>Conference</b></a>
                                        <i class="fas fa-ellipsis-v float-right "></i>
                                        <a href="#" style="color:black;font-size:18px"><b>Management</b></a>
                                        <div class="row  p-2">
                                            <i class="fas fa-user-friends fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;2 Members
                                        </div>
                                        <div class="row  p-2">
                                            <h6 style="color:lightgray;">Project Scope</h6>
                                        
                                            <h6>Web Application</h6>
                                        </div>
                                        <div class="row  p-2">
                                            <h6 style="color:lightgray;">Description</h6>
                                        
                                            <h6>All web applications to manage all kind of documents</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="border border-secondary rounded p-3" style="height:100%">
                                        <a href="#" style="color:black;font-size:18px"><b>Adios Shoes</b></a>
                                        <i class="fas fa-ellipsis-v float-right fa-1x"></i>
                                        <div class="row  p-2">
                                            <i class="fas fa-user-friends fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;3 Members
                                        </div>
                                        <div class="row  p-2">
                                            <h6 style="color:lightgray;">Project Scope</h6>
                                        
                                            <h6>Web Application</h6>
                                        </div>
                                        <div class="row  p-2">
                                            <h6 style="color:lightgray;">Description</h6>
                                        
                                            <h6>All web applications to manage all kind of documents</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="border border-secondary rounded p-3" style="height:100%;">
                                        <a href="#" style="color:black;font-size:18px"><b>Orange</b></a>
                                        <i class="fas fa-ellipsis-v float-right "></i>
                                        <div class="fwprogress"><div style="width:0%;color:red" class="progress-bar">  </div></div>
                                        <div class="row  p-2">
                                            <i class="fas fa-user-friends fa-2x"></i>&nbsp;&nbsp;&nbsp;&nbsp;4 Members
                                        </div>
                                        <div class="row  p-2">
                                            <h6 style="color:lightgray;">Project Scope</h6>
                                        
                                            <h6>Web Application</h6>
                                        </div>
                                        <div class="row  p-2">
                                            <h6 style="color:lightgray;">Description</h6>
                                        
                                            <h6>All web applications to manage all kind of documents</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 ">
                            <div class="p-3">
                                <div class=" row p-md-3">
                                    <h5><b>Task Details</b></h5>
                                </div>
                                <div class="row  m-3 p-2" style="width:105%;background-color:yellow">
                                    <a href="#" style="color:white;text-align:center;font-size:small">Functional Documentation</a>
                                </div>
                                <div class="row m-3 p-2" style="width:105%;background-color:lightsalmon">
                                    <a href="#" style="color:white;text-align:center;font-size:small">Technical Documentation</a>
                                </div>
                                <div class="row bg-info m-3 p-2" style="width:105%">
                                    <a href="#" style="color:white;text-align:center;font-size:small">Q A</a>
                                </div>
                                <div class="row bg-gray m-3 p-2" style="width:105%">
                                    <a href="#" style="color:white;text-align:center;font-size:small">Build Release</a>
                                </div>
                                <div class="row bg-gray m-3 p-2" style="width:105%">
                                    <a href="#" style="color:white;text-align:center;font-size:small">Vulnerability Testing</a>
                                </div>
                                <div class="row bg-gray m-3 p-2" style="width:105%">
                                    <a href="#" style="color:white;text-align:center;font-size:small">ATP Testing</a>
                                </div>
                                <div class="row bg-gray m-3 p-2" style="width:105%">
                                    <a href="#" style="color:white;text-align:center;font-size:small">Go Live</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <script src="~/vendor/jquery/jquery.min.js"></script>



    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    
    <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>
    <script src="~/js/vendor.bundle.base.js"></script>
</body>

</html>

